* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* HEADER -------- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  height: 100px;
  background-color: white;
  padding: 20px 20px;
  margin-bottom: 10px;
  border: #AAD1D7 solid 5px;
}

header .logo {
  width: 120px;
  padding-top: 5px;
  padding-left: 20px;
}

header ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header li {
  margin-left: 30px;
  list-style: none;
}

header a {
  text-decoration: none;
  color: black;
}

.icono-casa {
  width: 20px;
}


/* BANNER -------- */
.banner_hp {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  align-items: center;
}

.logo_banner {
  height: 200px;
  padding-top: 10px;
  padding-left: 20px;
}

article p {
  font-size: 15px;
  color: #a5a5a5;
  font-weight: bold;
}


/* FORMULARIO DE BÚSQUEDA -------- */
.form-busqueda {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 20px;
}

.form-busqueda input {
  width: 70vw;
  padding-left: 10px;
  height: 40px;
}

.form-busqueda article img {
  width: 25px;
  padding-right: 5px;
}

/* RECETAS -------- */
.titulo-principal {
  color: white;
  margin-bottom: 30px;
  background-color: #AAD1D7;
  height: 60px;
  text-align: center;
}

.receta {
  text-align: center;
  width: 18%;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 40px;
}

.receta img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  border: 5px solid #AAD1D7;
}

.receta h1 {
  font-size: 20px;
}

.receta p {
  font-size: 15px;
  color: #666;
  margin: 5px 0;
  font-weight: normal;
}

.receta button {
  width: 50px;
  height: 30px;
  border-radius: 20px;
  background-color: #B2BF3C;
  border-color: #B2BF3C;
}

.receta a {
  text-decoration: none;
  color: white;
}

.recipe-list {
}

.boton_cargar_mas {
  width: 100px;
  height: 30px;
  border-radius: 20px;
  background-color: #B2BF3C;
  border-color: #B2BF3C;
  color: white;
}

/* FOOTER -------- */
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
  background-color: #f18847;
}

.footer article img {
  width: 120px;
}

.footer article h1 {
  color: white;
  text-decoration: underline;
}

.footer article p {
  color: white;
  text-align: left;
  font-weight: normal;
}

.footer article ul li {
  color: white;
  text-align: left;
}


/* REGISTRO -------- */
.pag_registro {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #AAD1D7;
}

.box-registro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; 
  width: 500px;
  height: 500px;
  align-items: center;
  background-color: white;
  border-radius: 80px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.box-registro img {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 200px;
}

.box-registro h1 {
  color: #B2BF3C;
  margin-bottom: 8px;
}

.box-registro p {
  font-size: 12px;
}
